
table [role="columnheader"] {
    font-size: 14px !important;
    font-weight: 500;
    background-color: #f4f8f9 !important;
}

.theme--light.v-data-table tbody tr:hover {
  box-shadow: -1px 2px 4px -2px rgba(0,0,0,0.75);
  cursor: pointer;
}
.theme--light.v-data-table tbody tr.v-data-table__selected {
  background: rgb(226, 240, 253) !important;
  color: black;
  font-weight: 500;
  box-shadow: -1px 2px 4px -2px rgba(0,0,0,0.75);
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Thin.woff') format('woff');
}
  
*{
  /* font-family: 'Poppins', sans-serif; */
    font-family: 'Product Sans Regular';
    text-transform: none !important;
}
  
  /* @font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Italic'), url('ProductSans-Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Regular'), url('ProductSans-Thin.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Regular'), url('ProductSans-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'), url('ProductSans-Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Thin Italic'), url('ProductSans-ThinItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Italic'), url('ProductSans-LightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Italic'), url('ProductSans-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('ProductSans-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold Italic'), url('ProductSans-BoldItalic.woff') format('woff');
  } */
  